* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    color: #E0E0E0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    padding: 15px 30px;
}

.title h1 {
    color: #E0E0E0;
    margin: 0;
}

.nav-links {
    margin: 0;
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #E0E0E0;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #B0B0B0;
}

.header-section {
    height: 100vh;
    background-image: url("montryna black.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.overlay {
    background-color: #343a40f1;
    padding: 20px;
    border-radius: 10px;
}

.header-section h1,
.header-section h2 {
    color: #E0E0E0;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: #BB86FC;
    text-decoration: none;
    color: #121212;
    margin-bottom: 20px;
    border-radius: 5px;
}

.button:hover {
    background-color: #8A2C8C;
}

#bedroom-sec {
    padding: 20px;
    text-align: center;
}

#bedroom-sec h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.bedroom-pdiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bedroom-cdiv {
    width: 30%;
}

.bedroom-cdiv img {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.bedroom-cdiv img:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

#plans {
    text-align: center;
    padding: 50px;
}

#plans h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.plan-pdiv {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan-cdiv {
    width: 30%;
}

.plan-cdiv img {
    width: 90%;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.plan-cdiv img:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

#gallery {
    text-align: center;
    padding: 50px;
}

#gallery h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.architect {
    margin-bottom: 40px;
}

.architect h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #E0E0E0;
}

.arc-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.arc-gallery img {
    width: 30%;
    margin: 15px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}

.arc-gallery img:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

#about {
    background-color: #1F1F1F;
    text-align: center;
    padding: 30px;
}

.about {
    color: #E0E0E0;
}

.about h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.about p {
    font-size: 24px;
}

#contact {
    background-color: #1F1F1F;
    text-align: center;
    padding: 30px;
}

.contact {
    color: #E0E0E0;
}

.contact h1 {
    margin-top: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #BB86FC;
    color: #121212;
}
